*
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}
.mainbody
{
    display: grid;
    grid-template-columns: 1fr 4.5fr;
}
.leftnav
{
    border: 2px solid red;
    height:  100vh;
    
}
.rightcontent
{
    border: 2px solid red;
        height:  100vh;
}