*
{
    margin: 0px;
    padding: 0px;
    background-color: rgb(255, 255, 255);
}
.mainbody
{
    display: grid;
    grid-template-columns: 1fr 4.5fr;
}
.leftnav
{
  
    height:  100vh;
    
}
/* .leftnav::after
{
  
} */
.rightcontent::before{
    
    content: '';
    display: inline-block;
    height: 100%;
    width: 0.02mm;
    background-color: black;
    vertical-align: middle;
    font-weight: lighter;
    
}
.rightcontent
{
        background-color:#f1f0f0 ;
        height:  100vh;
}